.todo-list {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.todo-header {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 40px;
  padding: 0 12px;
}

.todo-header p {
  flex-grow: 1;
}

.todo-header button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  color: white;
  flex-shrink: 0;
}
