.todo-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.todo-item p {
  flex-grow: 1;
}

.todo-item button {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  color: white;
  flex-shrink: 0;
}
